<ion-view class="wall-info" view-title="Wall Info">
      <ion-content class="wall-info-content">
        <h3>The Vietnam Veterans Memorial Wall</h3>
        <ul>
          <li>Groundbreaking: March 26, 1982</li>
          <li>Dedication: November 13, 1982</li>
          <li>Designer: Maya Ying Lin</li>
          <li>Architect: Cooper-Lecky Partnership</li>
          <li>Material: Black granite from Bangalore, India</li>
          <li>Length: each wall is 246 feet 9 inches (75.21 meters) long; the total length of the Wall is 493 feet 6 inches (150.42
            meters)</li>
          <li>Height: 10 feet 3 inches (3.12 meters) at the center of the memorial]</li>
          <li>Angle: 125° 12'</li>
          <li>Density of granite: 210 lbs/cubic foot (3364 kilograms/cubic meter)</li>
          <li>Number of panels: for each wall, 70 separate inscribed panels, plus 4 at each end without names</li>
          <li>Panel dimensions: 40 inches (101.6 centimeters) wide, 3 inches (7.62 cm) thick, between 8 inches (20.32 cm) to
            10 feet 3 inches (3.12 meters) tall</li>
          <li>Number of lines per panel: 1 to 137</li>
          <li>Number of names per line: 5 to 6</li>
          <li>Height of letters: 0.53 inches (1.35cm)</li>
          <li>Depth of letters: 0.015 inches (0.038cm)</li>
          <li>Foundation: The granite panels are supported by 140 concrete pilings driven approximately 35 feet into bedrock</li>
          <li>Cost: Construction costs of the Wall totaled approximately $4,284,000. the VVMF raised nearly $9 million in private
            contributions in its quest to win support and build the memorial.</li>
        </ul>
      </ion-content>
</ion-view>