<ion-view class="wall-info" view-title="Education Center">
      <ion-content class="wall-info-content">

        <p>
            When it is completely funded and built, the Education Center at The Wall will add a new educational and honorific component to one of the nation’s most powerful and moving memorials.
        </p>       
        <p>
            Main functions of the Education Center at The Wall include:  
        </p>
        <ul>
            <li>
                It will put a face to every one of the more than 58,000 names listed on The Wall and help ensure that the Memorial will continue to speak about the importance of honoring our veterans and remembering those who died serving their country.
            </li>
            <li>
                It will share some of the hundreds of thousands of objects left at The Wall by families, military comrades, and others over more than three decades.
            </li>
            <li>
                It will provide a historical account of the events that took place on the battlefield and the homefront during the Vietnam Era. 
            </li>
            <li>
                It will tell the story of how The Wall became a site of individual grief and public mourning in the years following a painful and divisive war.
            </li>
            <li>
                It will include voices of veterans who returned to tell us their stories and preserve memories of those who did not.
            </li>
        </ul>
      </ion-content>
</ion-view>