<ion-nav-view id="page-list-view">

    <link rel="stylesheet" href="app/pages/pageList/pageList.css">
 
    <ion-header-bar align-title="left" class="bar-dark">
        <!--div class="buttons">
            <button class="button" ng-click="doSomething()">Left Button</button>
        </div-->
        <h1 class="title">Angularjs Components</h1>
        <!--div class="buttons">
            <button class="button">Right Button</button>
        </div-->
    </ion-header-bar>
    <ion-tabs id="tabs">

        <ion-tab title="Page List" icon-on="ion-document-text" icon-off="ion-document">
            <ion-content style="background:black;margin-top:44px;" class="has-header">
                <ion-list>
                    <ion-item href="#/{{m.substring(m.indexOf('.')+1)}}" ng-repeat="m in vm.modules.requires">
                        Go to page: {{m.substring(m.indexOf('.')+1)}}
                    </ion-item>
                </ion-list>
            </ion-content>
        </ion-tab>

        <ion-tab title="Settings" icon-on="ion-ios-gear" icon-off="ion-ios-gear-outline">
            <ion-content style="background:black;margin-top:44px;" class="has-header">
                <ion-list>
                    <ion-item ng-repeat="m in vm.app.requires" ng-init="show=false" ng-click="show=!show">
                        <span ng-if="vm.getModules(m).length>0" ng-hide="show">+</span> 
                        <span ng-if="vm.getModules(m).length>0" ng-show="show">-</span>
                        <span ng-if="vm.getModules(m).length<1">&nbsp;&nbsp;</span>
                        Module Categories: {{m}}
                        <ion-item ng-repeat="s in vm.getModules(m)" ng-show="show">
                            Modules: {{s}}
                        </ion-item>
                    </ion-item>
                </ion-list>
            </ion-content>
        </ion-tab>
    </ion-tabs>
</ion-nav-view>